<!doctype html>
<title>Flask</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="static/jquery.min.js"></script>
<script src="static/bootstrap.min.js"></script>
{% if error %}
<div class="container">
</br>
<div class="alert alert-warning">
<p class=error><strong>Error:</strong> {{ error }}
</div>
</div>
{% endif %}
<div class="container">
<h1>Create Order</h1>
<form action="{{ url_for('createorder') }}" method=post>
      <div class="form-group">
      <label for="productid">ProductId:</label>
      <input type="text" class="form-control" name="productid">
      </div>
      <div class="form-group">
      <label for="productname">ProductName:</label>
      <input type="text" class="form-control" name="productname">
      </div>
      <div class="form-group">
      <label for="orderstatus">OrderStatus:</label>
      <input type="text" class="form-control" name="orderstatus">
      </div>
      <div class="form-group">
      <label for="producturl">ProductUrl:</label>
      <input type="text" class="form-control" name="producturl">
      </div>
      <div class="form-group">
      <label for="costprice">CostPrice:</label>
      <input type="text" class="form-control" name="costprice">
    </div>
      <input type=submit class="btn btn-success" value=createOrder>
</form>
<ul class="nav navbar-nav">
<li><a href="{{ url_for('index') }}">index</a></li>
<ul>
</div>
